<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <head>

        {% include "partial/string_format_polyfill.j2" %}
        
        {% include "partial/tailwind_css.j2" %}
        
        {% include "partial/alpine_with_store.j2" %}

        {% include "partial/notifications.html" %}

        <style>
            @import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);
            
            .active\:bg-gray-50:active {
                --tw-bg-opacity:1;
                background-color: rgba(249,250,251,var(--tw-bg-opacity));
            }

            /* Toggle A */
            input:checked ~ .dot {
                transform: translateX(100%);
                background-color: #48bb78;
            }
        </style>

        <script>
            /*SSR*/
            window.Spruce.store('captcha_data', {
                captcha_types: {{ captcha_types|safe }},
                selected_captcha: {{ selected_captcha }},
                userId: {{ user_id }},
                chatId: {{ chat_id }},
                publicKey: "{{ user_public_key }}",
                isEnabled: {{ "true" if is_enabled else "false" }},
                welcomeMsg: `{{ welcome_message|trim }}`,
                isNeedToDeleteServiceMessage: {{ "true" if is_need_to_delete_service_message else "false"}},
                isNeedToDeleteServiceMessageOnLeave: {{ "true" if is_need_to_delete_service_message_on_leave else "false"}}
            })

            /*user side common*/
            
            window.Spruce.store('common', {
                isLoading: false,
                set changeLoading(value) {
                    this.isLoading = value;
                }
            })

        </script>
    </head>
    <body>
        <div class="min-w-screen min-h-screen bg-gray-200 flex items-center justify-center px-5 py-5">
            <div class="w-full max-w-6xl mx-auto rounded-xl bg-white shadow-lg p-5 text-black" x-data="app()" x-init="init($refs.wysiwyg)">
                <h3 class="text-2xl font-bold mb-4">Settings for chat: <span class="text-2xl mb-4">{{chat_name}}</span></h3>
                <fieldset class="relative z-0 w-full p-px mb-5">
                    <label class="text-lg font-semibold text-gray-600 py-2">Captcha type</label>
                    <select 
                        x-data 
                        class="block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-full "
                        x-model="$store.captcha_data.selected_captcha"
                        required="required"
                    >
                        <template x-for="captcha_type in $store.captcha_data.captcha_types" :key="captcha_type.id">
                            <option 
                                x-bind:value="captcha_type.id" 
                                x-text="captcha_type.name"
                                x-bind:selected="captcha_type.id === $store.captcha_data.selected_captcha"
                            >
                            </option>
                        </template>
                    </select>
                </fieldset>
                <fieldset class="relative z-0 w-full p-px mb-5">
                    <div class="mb-2">
                        <label class="text-lg font-semibold text-gray-600 py-2">Message on join</label>
                        <div class="flex items-center justify-center w-full mb-4">
                            <label for="toggle_welcome_msg_delete" class="flex items-center cursor-pointer">
                                <div class="mr-3 text-gray-700 font-medium">
                                    Keep
                                </div>
                                <div class="relative">
                                    <!-- input -->
                                    <input type="checkbox" id="toggle_welcome_msg_delete" class="sr-only" x-model="$store.captcha_data.isNeedToDeleteServiceMessage" x-bind:checked="$store.captcha_data.isNeedToDeleteServiceMessage">
                                    <!-- line -->
                                    <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                                    <!-- dot -->
                                    <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
                                </div>
                                <div class="ml-3 text-gray-700 font-medium">
                                    Delete
                                </div>
                            </label>
                        </div>
                        <div class="bg-gray-200 text-gray-600 px-4 py-3 rounded relative text-sm text-center">
                            When enabled bot will delete system messages on member join.
                        </div>
                    </div>
                    <div>
                        <label class="text-lg font-semibold text-gray-600 py-2">Message on leave</label>
                        <div class="flex items-center justify-center w-full mb-4">
                            <label for="toggle_leave_msg_delete" class="flex items-center cursor-pointer">
                                <div class="mr-3 text-gray-700 font-medium">
                                    Keep
                                </div>
                                <div class="relative">
                                    <!-- input -->
                                    <input type="checkbox" id="toggle_leave_msg_delete" class="sr-only" x-model="$store.captcha_data.isNeedToDeleteServiceMessageOnLeave" x-bind:checked="$store.captcha_data.isNeedToDeleteServiceMessageOnLeave">
                                    <!-- line -->
                                    <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                                    <!-- dot -->
                                    <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
                                </div>
                                <div class="ml-3 text-gray-700 font-medium">
                                    Delete
                                </div>
                            </label>
                        </div>
                        <div class="bg-gray-200 text-gray-600 px-4 py-3 rounded relative text-sm text-center">
                            When enabled bot will delete system messages on member leave.
                        </div>
                    </div>
                </fieldset>
                <label class="text-lg font-semibold text-gray-600 py-2">Welcome message</label>
                <div class="border border-gray-200 overflow-hidden rounded-md">
                    <div class="w-full flex border-b border-gray-200 text-xl text-gray-600">
                        <button class="outline-none focus:outline-none border-r border-gray-200 w-10 h-10 hover:text-indigo-500 active:bg-gray-50" @click="format('bold')">
                            <i class="mdi mdi-format-bold"></i>
                        </button>
                        <button class="outline-none focus:outline-none border-r border-gray-200 w-10 h-10 hover:text-indigo-500 active:bg-gray-50" @click="format('italic')">
                            <i class="mdi mdi-format-italic"></i>
                        </button>
                        <button class="outline-none focus:outline-none border-r border-gray-200 w-10 h-10 mr-1 hover:text-indigo-500 active:bg-gray-50" @click="format('underline')">
                            <i class="mdi mdi-format-underline"></i>
                        </button>
                        <button class="outline-none focus:outline-none border-r border-gray-200 w-10 h-10 mr-1 hover:text-indigo-500 active:bg-gray-50" @click="format('strikethrough')">
                            <i class="mdi mdi-format-strikethrough"></i>
                        </button>
                    </div>
                    <div class="w-full">
                        <iframe x-ref="wysiwyg" class="w-full h-96 overflow-y-auto"></iframe>
                    </div>
                </div>
                <button
                    id="button"
                    type="button"
                    class="w-full inline-flex items-center justify-center px-6 py-3 mt-3 text-lg text-white transition-all duration-150 ease-linear rounded-lg shadow outline-none bg-green-500 hover:bg-blue-600 hover:shadow-lg focus:outline-none"
                    @click="submit()"
                    x-bind:disabled="$store.common.isLoading"
                >
                    <div class="inline-flex items-center justify-center" x-show="$store.common.isLoading">
                        <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                        <span>Loading...</span>
                    </div>
                    
                    <div x-show="!$store.common.isLoading">
                        <span>Submit</span>
                    </div>
              </button>
            </div>
        </div>
        <script>
            const store = Spruce.store('captcha_data')

            function app() {
                return {
                    wysiwyg: null,
                    init: function(el) {
                        // Get el
                        this.wysiwyg = el;
                        // Add CSS
                        this.wysiwyg.contentDocument.querySelector('head').innerHTML += `<style>
                        *, ::after, ::before {box-sizing: border-box;}
                        :root {tab-size: 4;}
                        html {line-height: 1.15;text-size-adjust: 100%;}
                        body {margin: 0px; padding: 1rem 0.5rem;}
                        body {font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; white-space: pre-line;}
                        </style>`;
                        const store = Spruce.store('captcha_data')
                        this.wysiwyg.contentDocument.body.innerHTML = store.welcomeMsg;
                        // Make editable
                        this.wysiwyg.contentDocument.designMode = "on";
                    },
                    format: function(cmd, param) {
                        this.wysiwyg.contentDocument.execCommand(cmd, !1, param||null)
                    },
                    submit: function() {
                        const commonStore = Spruce.store('common')

                        if (commonStore.isLoading)
                            return;
                            
                        commonStore.isLoading = true;
                        const http = new XMLHttpRequest();
                        const url = ''; // our fastapi webapi callback
                        http.open('POST', '', true);

                        http.setRequestHeader('Content-type', 'application/json');

                        // call a function when the state changes.
                        http.onreadystatechange = function() 
                        {
                            if(http.readyState == 4) 
                            {
                                commonStore.isLoading = false;
                                const responseBody = JSON.parse(http.responseText)

                                if (http.status == 200) 
                                {
                                    toasts.createToast('Changes successfully applied', 'success');
                                    store.publicKey = responseBody.publicKey;
                                } else if (http.status == 406) {
                                    toasts.createToast(responseBody.detail, 'warning');
                                } else {
                                    toasts.createToast(responseBody.detail, 'error');
                                }
                            }
                        }

                        const params = {
                            'user_id': store.userId,
                            'chat_id': store.chatId,
                            'welcome_message': this.wysiwyg.contentDocument.body.innerHTML.trim(),
                            'public_key': store.publicKey,
                            'captcha_type': store.selected_captcha,
                            'is_need_to_delete_service_message': store.isNeedToDeleteServiceMessage,
                            'is_need_to_delete_service_message_on_leave': store.isNeedToDeleteServiceMessageOnLeave
                        };

                        http.send(JSON.stringify(params));
                    }
                }
            }
        </script>
    </body>
</html>
