
<script>
    // you need to replace this code
    // with modern version, i've recommend you 
    // to use smth like axios
    function onSubmit(token) {
        const userId = {{ user_id }};
        const publicKey = "{{ user_public_key }}";
        let timeToClose = 3;

        const http = new XMLHttpRequest();
        const url = ''; // our fastapi webapi callback
        http.open('POST', '', true);

        http.setRequestHeader('Content-type', 'application/json');
        
        // call a function when the state changes.
        http.onreadystatechange = function() 
        {
            if(http.readyState == 4) 
            {
                const responseBody = JSON.parse(http.responseText)

                document.querySelector('#title').innerText = responseBody.detail.format(timeToClose);
                if (http.status == 200) 
                {
                    // document.querySelector('#captcha').remove();
                    // here we understand that everything is ok

                    setInterval(() => {
                        timeToClose = timeToClose - 1;
                        if (timeToClose === 0) {
                            setTimeout(() => {
                                document.location.href = responseBody.redirectTo;
                            }, 100)
                            
                            window.close();
                        }
                        document.querySelector('#title').innerText = responseBody.detail.format(timeToClose);
                    }, 1000)
                }

            }
        }
        const params = {
            'token': token,
            'user_id': userId,
            'public_key': publicKey,
        };

        http.send(JSON.stringify(params));
    }
</script>